body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0b0f1a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

.logo {
    color: gold;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1474302770737-173ee21bab63') no-repeat center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    color: gold;
}

.btn {
    padding: 10px 25px;
    background: linear-gradient(to right, gold, orange);
    border-radius: 30px;
    color: black;
    text-decoration: none;
}

/* SECTIONS */
.section {
    padding: 50px;
    text-align: center;
}

/* GRID */
.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.card img {
    width: 250px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: black;
}

/* MOBILE */
.menu-toggle {
    display: none;
}

@media(max-width: 768px){
    .nav-links {
        display: none;
        flex-direction: column;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
}
